[build]

buildCommand = "npm run build"

[deploy]
startCommand = "PORT=4321 npm start"
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
